@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 242 48% 58%;
    --primary-foreground: 0 0% 100%;
    --primary-hover: 243 100% 82%;

    --secondary: 242 48% 58% / 0.1;
    --secondary-hover: 242 48% 58% / 0.25;
    --secondary-foreground: 242 48% 58%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 237 100% 4% / 0.25;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 78% 63%;
    --destructive-hover: 0 100% 80%;
    --destructive-foreground: 210 40% 98%;

    --border: 221 69% 94%;
    --input: 216 15% 57% / 0.25;
    --ring: 242 48% 58%;

    --radius: 0.5rem;

    --dark-grey: 235 12% 19%;
    --light-grey: 220 69% 97%;
    --very-dark-grey: 235 16% 15%;
    --medium-grey: 216 15% 57%;
  }

  .dark {
    --background: 235 16% 15%;
    --foreground: 210 40% 98%;

    --card: 235 12% 19%;
    --card-foreground: 210 40% 98%;

    --popover: 235 16% 15%;
    --popover-foreground: 210 40% 98%;

    --primary: 242 48% 58%;
    --primary-foreground: 0 0% 100%;
    --primary-hover: 243 100% 82%;

    --secondary: 0 0% 100%;
    --secondary-hover: 0 0% 100%;
    --secondary-foreground: 242 48% 58%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 0 0% 100% / 0.25;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 78% 63%;
    --destructive-hover: 0 100% 80%;
    --destructive-foreground: 210 40% 98%;

    --border: 236 11% 27%;
    --input: 216 15% 57% / 0.25;
    --ring: 242 48% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Firefox */
  * {
    scrollbar-color: hsl(var(--border)) hsl(var(--input));
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: hsl(var(--border));
    border-radius: 14px;
  }
}
